.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
}
body {
  background: linear-gradient(to top, #c79081 0%, #dfa579 40%);
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #412525;
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

h2 {
  text-align: center;
  color: #6c4343;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #412525;
  border-radius: 5px;
}
p {
  text-align: left;
  color: #364968;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  font-size: 18px;
  margin: 0 auto;
  padding: 5px;
  line-height: 30px;
}

hr {
  width: 490px;
  border-color: 1px #4b1f19;
}
.learn-more {
  text-align: center;
  color: #364968;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 200px;
  padding: 10px 0px 20px 0px;
  font-weight: bold;
}
.learn-more:hover {
  color: #6c4343;
}
button {
  display: block;
  margin: 0 auto;
  background: #fddf97;
  color: #364968;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  border-radius: 10px;
  border: #6c4343;
  box-shadow: 6px 4px 4px #c46352;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
button:hover {
  background: #6c4343;
  color: #fddf97;
}
.instagram {
  text-align: center;
  color: #364968;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
